<launch>
  <arg name="start_kinect" default="true"/>
  <arg name="start_pt" default="true"/>
  <arg name="pt_serial_port" default="/dev/wpv4_pt"/>
  <arg name="raw_joint_states_topic" default="/wpv4_pt/raw_joint_states"/>
  <arg name="robot_urdf" default="$(find wpv4_bringup)/urdf/wpv4_wpm2_pt.urdf"/>

  <include if="$(arg start_kinect)" file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>

  <node if="$(arg start_pt)" pkg="wpv4_bringup" type="wpv4_pt" name="wpv4_pt" output="screen">
    <param name="serial_port" value="$(arg pt_serial_port)"/>
    <remap from="/joint_states" to="$(arg raw_joint_states_topic)"/>
    <remap from="joint_states" to="$(arg raw_joint_states_topic)"/>
  </node>

  <param name="robot_description" command="cat $(arg robot_urdf)"/>
  <rosparam param="/joint_state_publisher/source_list" subst_value="true">
    [$(arg raw_joint_states_topic)]
  </rosparam>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
</launch>
