<launch>
  <arg name="output_root" default="/colt-robot-ws/data/capture_sessions"/>
  <arg name="capture_rate_hz" default="2.0"/>
  <arg name="auto_start" default="false"/>
  <arg name="max_frames" default="0"/>
  <arg name="save_points" default="true"/>
  <arg name="save_preview" default="true"/>
  <arg name="keyboard" default="true"/>
  <arg name="panel" default="true"/>
  <arg name="control_topic_policy" default="pause"/>

  <include file="$(find colt_bridle)/launch/capture_session.launch">
    <arg name="output_root" value="$(arg output_root)"/>
    <arg name="capture_rate_hz" value="$(arg capture_rate_hz)"/>
    <arg name="auto_start" value="$(arg auto_start)"/>
    <arg name="max_frames" value="$(arg max_frames)"/>
    <arg name="save_points" value="$(arg save_points)"/>
    <arg name="save_preview" value="$(arg save_preview)"/>
    <arg name="keyboard" value="$(arg keyboard)"/>
    <arg name="panel" value="$(arg panel)"/>
    <arg name="control_topic_policy" value="$(arg control_topic_policy)"/>
    <arg name="color_topic" value="/kinect2/qhd/image_color_rect"/>
    <arg name="depth_topic" value="/kinect2/qhd/image_depth_rect"/>
    <arg name="points_topic" value="/kinect2/qhd/points"/>
    <arg name="camera_info_topic" value="/kinect2/qhd/camera_info"/>
    <arg name="raw_joint_states_topic" value="/wpv4_pt/raw_joint_states"/>
  </include>
</launch>
