<launch>
  <arg name="camera_info_topic" default="/kinect2/qhd/camera_info"/>
  <arg name="joint_states_topic" default="/joint_states"/>
  <arg name="source_topic" default="/colt/ui/selected_source_chair"/>
  <arg name="target_topic" default="/colt/ui/selected_target_chair"/>
  <arg name="pt_state_topic" default="/colt/ui/pt_state"/>
  <arg name="wp_tilt_min_deg" default="-20.0"/>
  <arg name="wp_tilt_max_deg" default="20.0"/>
  <arg name="wp_pitch_min_deg" default="0.0"/>
  <arg name="wp_pitch_max_deg" default="30.0"/>
  <arg name="scan_step_deg" default="1.0"/>
  <arg name="scan_pitch_step_deg" default="1.0"/>
  <arg name="detection_timeout_sec" default="2.0"/>
  <arg name="track_pitch" default="false"/>

  <node pkg="colt_bridle" type="pt_control_node.py" name="colt_pt_control" output="screen">
    <env name="PYTHONPATH" value="$(find colt_bridle)/scripts:$(find colt_bridle)/../../../devel/lib/python3/dist-packages:/opt/ros/noetic/lib/python3/dist-packages:$(optenv PYTHONPATH)"/>
    <param name="detections_topic" value="/colt/bridle/detections"/>
    <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
    <param name="joint_states_topic" value="$(arg joint_states_topic)"/>
    <param name="source_topic" value="$(arg source_topic)"/>
    <param name="target_topic" value="$(arg target_topic)"/>
    <param name="pt_state_topic" value="$(arg pt_state_topic)"/>
    <param name="wp_tilt_min_deg" value="$(arg wp_tilt_min_deg)"/>
    <param name="wp_tilt_max_deg" value="$(arg wp_tilt_max_deg)"/>
    <param name="wp_pitch_min_deg" value="$(arg wp_pitch_min_deg)"/>
    <param name="wp_pitch_max_deg" value="$(arg wp_pitch_max_deg)"/>
    <param name="scan_step_deg" value="$(arg scan_step_deg)"/>
    <param name="scan_pitch_step_deg" value="$(arg scan_pitch_step_deg)"/>
    <param name="detection_timeout_sec" value="$(arg detection_timeout_sec)"/>
    <param name="track_pitch" value="$(arg track_pitch)"/>
  </node>
</launch>
