#!/usr/bin/env python
PACKAGE = "wpv4_tutorials"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("tilt", int_t , 0 , "Tilt of PT", 0 , -180 , 180)
gen.add("pitch", int_t , 0 , "Pitch of PT", 0 , -180 , 180)

exit(gen.generate(PACKAGE, "wpv4_pt_ctrl", "pt"))